<meta charset="utf-8" />
<meta http-equiv="x-ua-compatible" content="ie=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

{% if page.title %}
<title>{{ page.title }} — {{ site.page_title }}</title>
{% else %}
<title>{{ site.page_title }}</title>
{% endif %}

<link rel="shortcut icon" href="{{ site.app_icon | relative_url }}" />

{% if site.enable_smart_app_banner %}
<meta name="apple-itunes-app" content="app-id={{ site.ios_app_id }}" />
{% endif %} {% feed_meta %} {% seo %}

<meta
  name="twitter:description"
  content="{{ page.description | default: site.app_description }}"
/>

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
  rel="stylesheet"
/>
<script src="https://unpkg.com/@phosphor-icons/web"></script>
<link rel="stylesheet" href="{{ '/assets/css/output.css' | relative_url }}" />

<meta name="zoomment" content="65e5027029aeb252fcaae656" />

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "MobileApplication",
    "name": "{{ site.app_name }}",
    "description": "{{ site.app_description | strip_html | strip_newlines }}",
    "operatingSystem": "iOS, Android",
    "applicationCategory": "LifestyleApplication",
    "offers": {
      "@type": "Offer",
      "price": "0",
      "priceCurrency": "USD"
    },
    "installUrl": ["{{ site.appstore_link }}", "{{ site.playstore_link }}"],
    "image": "{{ site.app_icon | absolute_url }}"
  }
</script>
