---
layout: base
---

<div class="headerBackground subPageHeaderBackground">
  <div class="container subPageContainer">
    {% include header.html %}
    <article class="page markdown-body">
      <h1><span class="post-series">What Would Buddha Do</span><br>{{ page.title }}</h1>
      <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}</p>
      {{ content }}
      <br />
      <br />
      <div
        id="zoomment"
        data-theme="light"
        data-language="en"
        data-gravatar="monsterid"
        data-emotions="❤️,😀,🪄,🥸,💡,🤔,💩,😢"
        data-visitors="true"
      ></div>
      <script src="https://cdn.zoomment.com/zoomment.min.js"></script>
    </article>
  </div>
</div>
